* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: #1f1f1f;
  background-image: url("./assests/cloud-of-bunch-of-blue-sky-weather.jpg");
  
  background-size: fill;
}

.card {
  width: 90%;
  max-width: 470px;
  
  color: #fff;
  margin: 25px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  margin-bottom: 20px;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  padding: 10px 25px;
  height: 60px;
  border-radius: 30px;
  flex: 1;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.search button img {
  width: 16px;
  margin-top: 8px;
}

.weather-icon {
  width: 170px;
  margin-top: 30px;
}

.weather h1 {
  font-size: 80px;
  font-weight: 500;
}
.weather h2 {
  font-size: 45px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 40px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 28px;
  margin-top: -6px;
}

.weather {
  display: none;
}

.weather-status{
    font-weight: 300;
}

.error {
  text-align: left;
  margin-left: 10px;
  font-size: 14px;
  margin-top: 10px;
  display: none;
}

@media (max-width: 768px) {
  .card {
    margin: 20px auto;
    max-width: 80%;
    min-width: 320px;
    padding: 10px;
  }

  .search input {
    text-align: center;
    width: 100%;
  }

  h1.temp {
    font-size: 24px;
  }

  .details {
    text-align: center;
  }

  .error {
    font-size: 14px;
    padding: 5px;
  }

  .weather-icon {
    width: 50px;
    height: 50px;
  }

  .col {
    margin: 5px;
  }
}

@media (max-width: 454px) {
  .humidity,
  .wind {
    font-size: 14px;
  }
}
